@import "tailwindcss";

:root {
  --bg_white: #ffffff;
  --bg_black: #000000;

  --text_white: #ffffff;
  --text_black: #000000;

  --white_FAFAFA: #fafafa;
  --white_F5F5F5: #f5f5f5;
  --white_FEFAF1: #fefaf1;

  --black_7D8184: #7d8184;
  --black_363738: #363738;

  --Text_red: #db4444;
  --bg_red: #db4444;
  --hover_red: #e07575;
  --button_green: #00ff66;
  --hover_blue: #a0bce0;

  --popins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
}

@theme {
  --color-BGWhite: var(--bg_white);
  --color-BGBlack: var(--bg_black);

  --color-TextWhite: var(--text_white);
  --color-TextBlack: var(--text_black);

  --color-White_FAFAFA: var(--white_FAFAFA);
  --color-White_F5F5F5: var(--white_F5F5F5);
  --color-White_FEFAF1: var(--white_FEFAF1);
  --color-Black_7D8184: var(--black_7D8184);
  --color-Black_363738: var(--black_363738);

  --color-TextRed: var(--Text_red);
  --color-BGRed: var(--bg_red);
  --color-HoverRed: var(--hover_red);
  --color-ButtonGreen: var(--button_green);
  --color-HoverBlue: var(--hover_blue);

  --font-Popins: var(--popins);
  --font-Inter: var(--inter);
}
