@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg_white: #ffffff;
  --bg_black: #000000;

  --text_white: #ffffff;
  --text_black: #000000;

  --white_FAFAFA: #fafafa;
  --white_f5f5f5: #f5f5f5;
  --white_FEFAF1: #fefaf1;

  --black_7D8184: #7d8184;
  --black_363738: #363738;

  --Text_red: #db4444;
  --bg_red: #db4444;
  --hover_red: #e07575;
  --button_green: #00ff66;
  --hover_blue: #a0bce0;

  --popins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
}

@theme {
  --color-BGWhite: var(--bg_white);
  --color-BGBlack: var(--bg_black);

  --color-TextWhite: var(--text_white);
  --color-TextBlack: var(--text_black);

  --color-GraySemiLight: var(--white_FAFAFA);
  --color-GrayLight: var(--white_f5f5f5);
  --color-YollowLight: var(--white_FEFAF1);
  --color-GraySemiDark: var(--black_7D8184);
  --color-GrayDark: var(--black_363738);

  --color-TextRed: var(--Text_red);
  --color-BGRed: var(--bg_red);
  --color-HoverRed: var(--hover_red);
  --color-ButtonGreen: var(--button_green);
  --color-HoverBlue: var(--hover_blue);

  --font-Popins: var(--popins);
  --font-Inter: var(--inter);
}
.container {
  @apply mx-auto px-3 max-w-full sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px];
}
